# MongoDB Atlas
ATLAS_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/myDatabase?retryWrites=true&w=majority

# Local Database (Fallback)
LOCAL_URI=mongodb://127.0.0.1:27017/myLocalDatabase

PORT=3000